/connect_test/.vs
/connect_test/x64
/connect_test/connect_test/x64
/book_management/.vs/book_management/CopilotIndices
/book_management/.vs/book_management/FileContentIndex
/book_management/.vs
/book_management/book_management/x64
/book_management/x64
/Cpp_network_n_db/connect_test/.vs/connect_test/v17
/Cpp_network_n_db/connect_test/.vs/connect_test/CopilotIndices
/Cpp_network_n_db/connect_test/.vs/connect_test/FileContentIndex
/Cpp_network_n_db/connect_test/.vs
/Cpp_network_n_db/connect_test/connect_test/x64
/Cpp_network_n_db/connect_test/x64
/Cpp_network_n_db/cpp_network_and_db/.vs/cpp_network_and_db/CopilotIndices
/Cpp_network_n_db/cpp_network_and_db/.vs/cpp_network_and_db/FileContentIndex
/Cpp_network_n_db/cpp_network_and_db/.vs/cpp_network_and_db/v17
/Cpp_network_n_db/cpp_network_and_db/.vs
/Cpp_network_n_db/cpp_network_and_db/cpp_network_and_db/x64
/Cpp_network_n_db/cpp_network_and_db/x64
/Cpp_network_n_db/cpp_network_and_db_client/.vs/cpp_network_and_db_client/CopilotIndices
/Cpp_network_n_db/cpp_network_and_db_client/.vs/cpp_network_and_db_client/FileContentIndex
/Cpp_network_n_db/cpp_network_and_db_client/.vs/cpp_network_and_db_client/v17
/Cpp_network_n_db/cpp_network_and_db_client/cpp_network_and_db_client/x64
/Cpp_network_n_db/socket_client/.vs/socket_client/CopilotIndices
/Cpp_network_n_db/socket_client/.vs
/Cpp_network_n_db/cpp_network_and_db_client/x64
/Cpp_network_n_db/socket_client/socket_client/x64
/Practice/book_management/.vs/book_management/CopilotIndices
/Practice/book_management/.vs
/Practice/book_management/book_management/x64
/Practice/book_management/x64
/Cpp_network_n_db/socket_client/x64
